<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cinem"
        tools:targetApi="31" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAG6Lut1-ImEdQfDVnWe2Ydc70hWopWNNA" />

        <activity
            android:name=".ui.tickets.QrCode"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.cinemas.SelectMovie"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.cinemas.MovieInfo"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.cinemas.SelectSchedule"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".ui.cinemas.Fingerprint"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>

        <receiver android:name=".ui.ReminderBroadcast" />
    </application>

</manifest>